# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextVal
pom.xml.backup
pom.xml.branch
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Avoid committing local properties with secrets
**/application-local.yml

# Log files
*.log
logs/

# Compiled class files
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.metadata
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
